# CDS 230 - Modeling and Simulation 1 - Fall 2019
# Collections

**Lecturer:** Dr. Hamdi Kavak

**Email:** hkavak@gmu.edu

**Lecture:** 9/23/2019

## 1. Lists

### 1.1. Creating lists

In [1]:
cities = ["Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville"]

In [2]:
mixed_list = [1, "Banana", True, 1.0 ]

In [3]:
list_within_list = [1, 5, 10, ["one", "two", "three"], 25 ]

### 1.2. Accesing list elements

In [4]:
cities[0]

'Fairfax'

In [5]:
cities[4]

'Vienna'

In [6]:
cities[7]

IndexError: list index out of range

In [7]:
print(cities[-1], cities[-4])

Centreville Herndon

In [8]:
print(cities[-8])

IndexError: list index out of range

In [9]:
cities[1:4]

['Alexandria', 'Reston', 'Herndon']

In [10]:
list_within_list[3][0]

'one'

### 1.3. List Functions

In [11]:
new_list=[]

In [12]:
new_list.append(3.14)

In [13]:
new_list

[3.14]

In [14]:
new_list.append(-999.14)

In [15]:
new_list

[3.14, -999.14]

In [16]:
new_list.append(True)

In [17]:
new_list

[3.14, -999.14, True]

In [18]:
new_list.extend([5,6,7,5])

In [19]:
new_list

[3.14, -999.14, True, 5, 6, 7, 5]

In [20]:
new_list.insert(0, "Hello")

In [21]:
new_list

['Hello', 3.14, -999.14, True, 5, 6, 7, 5]

In [22]:
new_list.insert(4, "World")

In [23]:
new_list

['Hello', 3.14, -999.14, True, 'World', 5, 6, 7, 5]

In [24]:
new_list.insert(-1, ["inner","list"])

In [25]:
new_list

['Hello', 3.14, -999.14, True, 'World', 5, 6, 7, ['inner', 'list'], 5]

In [26]:
print(new_list.index(3.14))

1

In [27]:
print(new_list.pop())

5

In [28]:
new_list

['Hello', 3.14, -999.14, True, 'World', 5, 6, 7, ['inner', 'list']]

In [29]:
new_list.remove(["inner","list"])

In [30]:
new_list

['Hello', 3.14, -999.14, True, 'World', 5, 6, 7]

In [31]:
new_list.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [32]:
print(new_list.count(5))

1

## 2. Tuples

In [33]:
cities_tuple = ("Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville")
print(cities_tuple)

('Fairfax', 'Alexandria', 'Reston', 'Herndon', 'Vienna', 'Oakton', 'Centreville')

In [34]:
cities_tuple2 = "Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville"
print(cities_tuple2)

('Fairfax', 'Alexandria', 'Reston', 'Herndon', 'Vienna', 'Oakton', 'Centreville')

Tuple packing

In [35]:
val1, val2, val3 = 100, 200, 300
print(val1, val2, val3)

100 200 300

In [36]:
val2, val1 = val1, val2
print(val1, val2, val3)

200 100 300

## 3. Sets

In [37]:
cities_set = {"Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville"}
print(cities_set)

{'Fairfax', 'Vienna', 'Oakton', 'Centreville', 'Alexandria', 'Herndon', 'Reston'}

In [38]:
cities_set2 = set(["Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville"])
print(cities_set2)

{'Fairfax', 'Vienna', 'Oakton', 'Centreville', 'Alexandria', 'Herndon', 'Reston'}

In [39]:
set2 = set([1,4,5,1,1,5,7,1,7,1,6,4,5,7,1])
print(set2)

{1, 4, 5, 6, 7}

In [40]:
set1 = set([1,2,3])
set2 = set([2,3,4])
print(set1.union(set2))

{1, 2, 3, 4}

## 4. Dictionary

In [41]:
dct = { }

dct[0] = 'some data'

dct[5] = [5, 'more data']

dct['astring'] = (4,5)

dct[(5,6)] = 'a point'

In [42]:
list(dct.values())

['some data', [5, 'more data'], (4, 5), 'a point']

## 5. Functions

In [43]:
cities = ["Fairfax", "Alexandria", "Reston", "Herndon", "Vienna", "Oakton", "Centreville"]
number_of_cities = len(cities)
print(number_of_cities)

7

In [44]:
print("Vienna" in cities)
print("Arlington" in cities)

True
False