# CDS 230 - Modeling and Simulation 1 - Fall 2019
# Functions

**Lecturer:** Dr. Hamdi Kavak

**Email:** hkavak@gmu.edu

**Lecture:** 9/30/2019

## 0. ```any()``` and ```all()``` functions
### 0.1. ```any()```

---

If any element in the iterable is ```True```, it will return ```True```

---

In [35]:
print(any([True])) 
print(any([False, False, False, True]))
print(all([True])) 
print(all([False, False, False, True]))

True
True
True
False

---

An empty iterable will return ```False```

---

In [36]:
print(any([]))
print(any({}))
print(any(()))

False
False
False

In [37]:
print(all([]))
print(all({}))
print(all(()))

True
True
True

---

What if not all elements in the iterable are ```bool``` type?

---

In [40]:
print(any(["a"])) 
print(any([""])) 
print(any([0]))

True
False
False

In [41]:
print(all(["a"])) 
print(all([""])) 
print(all([0]))

True
False
False

False

False

In [43]:
print(any([0,1]))

True

In [45]:
print(any([0, 0.0]))

False

In [42]:
print(any([0, 0.0, complex(0,0), "Hello"]))
print(all([0, 0.0, complex(0,0), "Hello"]))

True
False

## 1. Function definition

In [1]:
square_root(4)
def square_root(num):
    s = num ** 0.5
    print(s)

NameError: name 'square_root' is not defined

In [11]:
def square_root(num):
    s = num ** 0.5
    print(s)
    
square_root(4)

2.0

### 1.1. Return

In [9]:
def square_root_r(num):
    s = num ** 0.5
    return s

In [10]:
def square_root_r2(num):
    s = num ** 0.5
    return -s,s

In [7]:
a = square_root_r2(4)

In [8]:
a

(-2.0, 2.0)

In [14]:
square_root(16)

4.0

In [15]:
root = square_root_r(16)
print(root)

4.0

In [16]:
root2 = square_root_r2(16)
print(root2)

(-4.0, 4.0)

### 1.2. Arguments

In [17]:
def sum_4(a,b,c,d):
    s = a + b + c + d
    return s

In [18]:
sum_4(1,2,3,4)

10

In [19]:
sum_4(d=4, c=3, b=2, a=1)

10

In [25]:
def convert_distance(distance, conversion="mile to km"):
    if conversion == "mile to km":
        return distance * 1.60934
    elif conversion == "km to mile":
        return distance * 0.621371
    else:
        print("Unsupported conversion is requested. Supported types are:")
        print("mile to km")
        print("km to mile")

In [26]:
convert_distance(100)

160.934

In [27]:
convert_distance(100, conversion="km to mile")

62.137100000000004

In [28]:
convert_distance(100, conversion="mile to meter")

Unsupported conversion is requested. Supported types are:
mile to km
km to mile

### 1.3. Variable scope

In [29]:
s = "This is a global variable"
def sum_4(a,b,c,d):
    g = "This is a local variable"
    
    # if we want to access the gloval s variable,
    #    we meed to use global keyword
    
    def sum_2(e,f):
        g = e + f
        # if we want to access enclosing g variable, 
        #    we need to use nonlocal keyword
        
        return g
    
    s = sum_2(a,b) + sum_2(c,d)
    return s

In [31]:
sum_4(1,2,3,4)

10

### 1.4. Recursive functions

In [32]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

In [33]:
factorial(5)

120

## Fibonacci Example - Iterative Version

In [4]:
def fibo(n):
    sequence = [0,1]
    for i in range(n-2):
        sequence.append(sequence[-1]+sequence[-2])
    return sequence

In [7]:
fibo(16)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

## Fibonacci Example - Recursive Version

In [38]:
def fib_recursive(n):
    def fibo2(n):
        if n > 1:
            return fibo2(n-1) + fibo2(n-2)
        else:
            return n
    result = [fibo2(i) for i in range(n)]
    return result

In [40]:
fib_recursive(16)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]